<div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder cq-marker-start" data-emptytext="General Column" data-sly-unwrap=""></div>

<sly 
	data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	data-sly-use.columnModel="com.wyndham.baseapp.core.models.ColumnModel"
	data-sly-test.columnsDefined="${columnModel.columns}">
	
	<div gtm_component="column" gtm_component_type="column" class="${properties.LoggedOut} ${properties.LoggedIn} ${properties.fullPage}">			
		<div class="grid-x ${properties.gutterType}" data-sly-list.col="${columnModel.columns}" style="background-color:${properties.bgColor @ context='unsafe'}">
			<sly data-sly-test.isSingleCol="${columnModel.columns.size == 1}">
				<div class="cell small-12">
					<sly data-sly-resource="${'singleColumnContent' @ resourceType='wcm/foundation/components/parsys'}" />
				</div>
			</sly>
			<sly data-sly-test="${!isSingleCol}">			
				<div class="cell ${col.smallColumn} ${col.mediumColumn} ${col.largeColumn}">
					<sly data-sly-resource="${ 'col{0}' @ format=colList.count, resourceType='wcm/foundation/components/parsys'}" />
				</div>					
			</sly>
		</div>
	</div>		
	
</sly>

<sly data-sly-call="${template.placeholder @ isEmpty=!columnsDefined}"></sly>