<sly data-sly-use.baseModel="com.wyndham.baseapp.core.models.BaseModel"></sly>
<sly data-sly-test.models="${baseModel.contentFragmentSourceModels}"></sly>
<div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder cq-marker-start"
  data-emptytext="Tab Slice"></div>


<div id="${properties.tabId}" class="controllerDiv scrollMargin ${properties.LoggedOut} ${properties.LoggedIn} ${properties.hideLarge} ${properties.hideMedium} ${properties.hideSmall} ${properties.marginBottomDesk} ${properties.marginTopDesk} ${properties.paddingBottomDesk} ${properties.paddingTopDesk} ${properties.marginBottomtablet} ${properties.marginToptablet} ${properties.paddingBottomtablet} ${properties.paddingToptablet} ${properties.marginBottommobile} ${properties.marginTopmobile} ${properties.paddingBottommobile} ${properties.paddingTopmobile}">
  <div>
    <ul class="tabs AEMTab" data-tabs id="AEM-tabs">
      <sly data-sly-list="${baseModel.contentFragmentSourceModels}" data-sly-unwrap>
        <li data-sly-test="${itemList.index == 0}" class="tabs-title is-active">
          <a href="#panel-${itemList.count @ context='unsafe'}-${properties.tabId @ context='unsafe'}" class="gaChecker" data-eventName="tab" data-eventCategory="tab" data-eventAction="click" data-eventLabel="${item.contentModelCF.title}" data-eventValue="" data-clickUrl="#panel-${itemList.count @ context='unsafe'}-${properties.tabId @ context='unsafe'}">${item.contentModelCF.title}</a>
          <div class="theBar startBar"></div>
        </li>
        <li data-sly-test="${itemList.index > 0}" class="tabs-title">
          <a href="#panel-${itemList.count @ context='unsafe'}-${properties.tabId @ context='unsafe'}" class="gaChecker" data-eventName="tab" data-eventCategory="tab" data-eventAction="click" data-eventLabel="${item.contentModelCF.title}" data-eventValue="" data-clickUrl="#panel-${itemList.count @ context='unsafe'}-${properties.tabId @ context='unsafe'}">${item.contentModelCF.title}</a>
          <div class="theBar"></div>
        </li>

      </sly> 
    </ul>
  </div>
  <div class="tabs-content" data-tabs-content="AEM-tabs">
    <sly data-sly-list="${baseModel.contentFragmentSourceModels}" data-sly-unwrap>
      <div data-sly-test="${itemList.index == 0}" class="tabs-panel is-active" id="panel-${itemList.count}-${properties.tabId @ context='unsafe'}">
        <div data-sly-resource="${ 'tab{0}' @ format=itemList.count, resourceType='foundation/components/parsys'}">
        </div>
      </div>
      <div data-sly-test="${itemList.index > 0}" class="tabs-panel " id="panel-${itemList.count}-${properties.tabId @ context='unsafe'}">
        <div data-sly-resource="${ 'tab{0}' @ format=itemList.count, resourceType='foundation/components/parsys'}">
        </div>
      </div>
    </sly>
  </div>
</div>